/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px){
	.row.no-gutter .col-md-2 {
		width: 20%!important;
	}
	.single-team p::after{
		left: 40%;
		bottom: 170px;
	}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.home-text h1 {
		font-size: 86px;
	}
	.home-text h3 {
		margin-bottom: 0;
	}
	.price-top h1 {
		font-size: 45px;
	}
	.price-top h3 {
		font-size: 30px;
		font-weight: normal;
	}
	#team {
		display: none;
	}
	#myNavbar ul li {
		padding: 38px 9px 31px;
	}
	.single-team p::after {
		bottom: 170px;
		left: 37%;
	}
	.member-social-icon i {
		padding: 20px 5px;
		font-size: 18px;
	}
	.price-bottom a {
		width: 183px;
		line-height: 30px;
		margin-top: 18x;
	}
	.footer-social i {
		padding: 12px 2px;
		font-size: 12px;
	}
	.footer-p {
		padding: 0;
		font-size: 14px;
	}
	.list-date{
		float: none;
	}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	a.my2 {
		font-size: 22px;
		display: contents;
	}
	header .navbar-brand {
		padding: 6px 16px;
		height: 60px;
	}
	.home-text h1 {
		font-size: 44px;
	}
	.single-team{
		text-align: center;
	}
	.list-date{
		float: none;
	}
	.latest-news::after {
		left: 0;
	}
	.single-team p::after {
		left: 40%;
		bottom: 174px;
	}
	#myNavbar ul li {
		padding: 0 20px 10px;
		text-transform: uppercase;
	}
	.carousel-indicators li.active{
		height: 10px;
		width: 44px;
	}
	.carousel-indicators li {
		width: 44px;
		height: 8px;
	}
	a.my2 {
		font-size: 28px;
		display: contents;
		vertical-align: text-top;

	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	#team {
		display: none;
	}
	a.my2 {
		font-size: 22px;
		display: contents;
		vertical-align: text-top;
	}
	div.nav {
		padding-top: 0;
		display: inline-flex;
		text-align: center;
    	width: 100%;
		margin-left: 180px;
	}
}

@media only screen and (max-width: 479px) { 
	#team {
		display: none;
	}
	a.my2 {
		vertical-align: text-top;
		font-size: 28px;
		display: contents;
	}
	a.navbar-brand>img {
		display: block;
		float: left;
	}
	.nav {
		padding-top: 20px;
	}
	div.nav {
		padding-top: 0;
		display: inline-flex;
		text-align: center;
    	width: 100%;
		margin-left: 78px;
	}
}

@media only screen and (max-width: 360px) { 
	.home-text h1 {
		font-size: 37px;
	}
	#team {
		display: none;
	}
	a.my2 {
		font-size: 22px;
		display: contents;
	}
	a.navbar-brand>img {
		display: block;
		float: left;
	}
	div.nav {
		padding-top: 0;
		display: inline-flex;
		/* margin-top: -30px; */
		margin-left: 65px;
	}

}

 